@import "./scss/bootstrap";
@import './scss/libraries';

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 48px;

  .card {
      max-width: 450px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: 0;
      margin: 0 auto;
  }
}

#todoBox{
    min-height: 500px;
    margin: 0 auto;
    border: 0;
}

#inputTodo{
    width: 850px;
    height: 400px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: 0;
      margin: 0 auto;

}